<div class="col-md-12 container">


  <p class="label label-warning">Pending requests:</p>
  <% @pending.each do |person| %>
    <div>
        <%= person.follower.email %>

        <%= simple_form_for :connections_confirm, url: connection_confirm_path do |f| %>
          <%= f.hidden_field :id, value: person.follower_id %>
          <%= f.button :submit, 'Confirm' %>
        <% end %>
    </div>
  <% end %>
  <hr/>

  <% @people.each do | person | %>
      <div>
        <%= person.email %>
        <% connection = person.connection(current_user) %>
        <%# if friendship accepted check if this is a new conversation%>
        <% if connection and connection.confirmed %>
            
            <% if connection.conversation_id %>
                <%= link_to 'chat', conversation_path(person) %>
            <% else %>
                <%= link_to 'chat', new_conversation_path(:connection => connection.id) %>
            <% end %>
        <% elsif connection and not connection.confirmed %>
            pending
        <% else %>
            <%= simple_form_for @connection do |f| %>
                <%= f.hidden_field :followee_id, value: person.id %>
                <%= f.button :submit, 'Add friend' %>
            <% end %>
        <% end %>
      </div>
  <% end %>
</div>