<div class="col-md-12 container">

  <p>Pending requests:</p>
  <% @pending.each do |p| %>
      <p><%= p.follower.email %></p>
  <% end %>
  <hr/>

  <% @people.each do | person | %>
      <div>
        <%= person.email %>

        <% if person.is_friend(current_user) %>
            <%= link_to 'chat', conversation_path(person) %>
        <% elsif person.friendship_pending(current_user) %>
            pending
        <% else %>
            <%= simple_form_for @connection do |f| %>
                <%= f.hidden_field :followee_id, value: person.id %>
                <%= f.button :submit, 'Add friend' %>
            <% end %>
        <% end %>
      </div>
  <% end %>
</div>