<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MobileComputerSystemsDevelopment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#<script src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>%>
    <%= yield :top_scripts %>
    <%= yield :links%>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
  <%= yield :scripts %>
</html>
